.text-block {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 24px;
  margin: 0;
  padding: 10px;
}
.subtitle {
  margin: 0;
  padding: 10px;
}